.main-content {
    /* margin: 10px; */
    height: 100%;
    background-color: #fff;
}
.month-bar-container {
    display: flex;   /*  flex*/
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.header-item {
    padding: 10px;
}
.year-nav {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.month-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;  /* Cho phép scroll ngang */
    gap: 10px;
    padding: 0 10px;
    scrollbar-width: thin;
    scrollbar-color: #cccccc #f5f5f5;
    width: 100%;
}

.month-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-basis: 30%; /* Sử dụng flex-basis để chỉ định kích thước theo % */
    border-radius: 8px;
    background-color: #fff;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    text-align: center;
    cursor: pointer;
}

.month-item.active {
    border: 2px solid #4CAF50;
    background-color: #e6fff2;
}

.month-item span {
    font-weight: bold;
}

.month-item small {
    font-size: 12px;
    color: #777;
}
#tenant-bill {
    width: 100%;
}
.invoice-form-overlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5); /* Làm mờ nền */
  z-index: 1000;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 9;
}

/* Form chính giữa màn hình */
.invoice-form {
  background-color: white;
  padding: 20px;
  width: 500px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.header-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.exitButton {
    background-color: white;
    border-radius: 100%;
    width: 20px;
    border: none;
    padding: 0;
    margin-bottom: 20px;
}
.invoice-form h2, .invoice-form h3 {
    text-align: center;
}

.service-selection, .invoice-details {
    margin-bottom: 15px;
    margin-top: 20px;
}

.service-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.submitButton {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.submitButton:hover {
    background-color: #45a049;
}

/* Nút đóng form */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.action-btn {
    background-color:black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 18px;
    /* position: relative; */
}
/* CSS cho menu */
.popup-menu {
    display: none; /* Ẩn menu mặc định */
    position: absolute; /* Định vị menu so với nút */
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 200px;
    z-index: 1000;
    transform: translate(-100%, -100%); /* Căn chỉnh menu phía trên và bên trái nút */
}
.popup-menu .bill-menu-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.popup-menu .bill-menu-item:hover {
    background-color: #f0f0f0;
}
.popup-menu .bill-menu-item .cancel{
    color: red;
}
